@charset "UTF-8";
body{
    margin: 0px;
}

    #painel{    
            position: absolute;
            color: grey;
            background-color:grey ;
            width: 500;
            height: 200;
    }
    p{  text-align: center;
          
        
    }
    h1{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        top: 0px;
        margin: 0px;
    }
     
    .fundo{
            background-color:#9999a1;
            padding: 50px;
            border-radius: 10px;
        border: 1px solid black;
        Box-shadow: 10px 10px 30px grey;
    }

    .opcoes{background-color:#ffffff;

    }
       .opcoes:hover{background-color:#023e8a;
                    color: aliceblue;

       }
            
       .centro{align-items: center;
                text-align: center;
                justify-content: center;
          }
    



    
    #ops{ align-items: center;
        background-color: gray;
        text-align: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        
        
        
    }
    #ops2{ align-items: center;
        background-color: #9999a1;
        text-align: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px;
        
        
    }
#ops2:hover{background-color: #474448;
    color: white;

}
  
  
       
    td{
        padding: 58px;
    }
 #td1{border-radius:10px;
    border-radius:10px;
    Box-shadow:10px 10px 30px grey;
    padding: 10px;
    border: 3px solid black;

      
     
 }

 #td2{
padding: 20px;
 }
 #td3{
    padding: 20px;
     }
#td4{padding:  1px;
    background-color:#3a6ea5 ;
    border-radius: 10px;
    border: 3px solid black;
   transition: ease 2s;
    
 
}
#td4:hover{padding: 20px ;
    background-color: tomato;


}

.img{width: 100;
    height: 200;

}
 .img:hover{width: 700;
    height: 300;

 }
#faixa{background-color: #6d6e70;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        top: 0px;
        height: 60px;

}
#faixa2{background-color: #004e98;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0px;
    height: 60px;

}
.botoes{background-color: white ;
    border-radius: 500px;
    border: 3px solid black;
        
        
    
}
.botoes:hover{
                background-color:black ;
                color: white;
                width: 65% ;
                height: 20%px ;
}

